<div
  data-alt-input-class="form-control"
  data-wrap="true"
  data-date-format="Y-m-d"
  class="input-group flatpickr">
  <input
    type="text"
    name="the-name"
    id="the-id"
    data-input=""
    value=""
    class="form-control"/>
  <div
    class="input-group-append">
    <button data-toggle
      title="Toggle"
      type="button"
      class="btn input-group-text">
      <i
        class="fas fa-calendar-alt">
      </i>
    </button>
    <button data-clear
      title="Clear"
      type="button"
      class="btn input-group-text">
      <i
        class="fas fa-times">
      </i>
    </button>
  </div>
</div>
