<div
  data-alt-input-class=""
  data-wrap="true"
  data-date-format="Y-m-d"
  class="input-group flatpickr">
  <input
    type="text"
    name="the-name2"
    id="the-id2"
    data-input=""
    value="2000-01-01"
    class="form-control"/>
  <div
    class="input-group-append">
    <span data-toggle
      class="input-group-text">
      <i
        class="fa fa-calendar-alt">
      </i>
    </span>
    <span data-clear
      class="input-group-text">
      <i
        class="fa fa-times">
      </i>
    </span>
  </div>
</div>
