parameters:
	ignoreErrors:
		-
			message: "#^Offset 'data\\-wrap' does not exist on array\\(\\?'data\\-enable\\-seconds' \\=\\> 'true', 'data\\-date\\-format' \\=\\> string, \\?'data\\-enable\\-time' \\=\\> 'true', \\?'data\\-alt\\-format' \\=\\> mixed, \\?'data\\-alt\\-input' \\=\\> 'true', \\?'data\\-no\\-calendar' \\=\\> 'true'\\)\\.$#"
			count: 1
			path: src/View/Widget/DateTimeWidget.php

		-
			message: "#^Cannot assign offset 'class' to array\\<string\\>\\|string\\.$#"
			count: 1
			path: src/View/Widget/DateTimeWidget.php

		-
			message: "#^Cannot assign offset 'datetimePicker' to array\\<string\\>\\|string\\.$#"
			count: 1
			path: src/View/Widget/DateTimeWidget.php

		-
			message: "#^Binary operation \"\\+\" between string and array\\(\\?'data\\-enable\\-seconds' \\=\\> 'true', 'data\\-date\\-format' \\=\\> string, \\?'data\\-enable\\-time' \\=\\> 'true', \\?'data\\-alt\\-format' \\=\\> mixed, \\?'data\\-alt\\-input' \\=\\> 'true', \\?'data\\-no\\-calendar' \\=\\> 'true', \\?'data\\-alt\\-input\\-class' \\=\\> string, 'class' \\=\\> array\\('input\\-group', 'flatpickr'\\)\\) results in an error\\.$#"
			count: 1
			path: src/View/Widget/DateTimeWidget.php

		-
			message: "#^Binary operation \"\\+\\=\" between array\\<string\\>\\|string and array\\(\\?'data\\-enable\\-seconds' \\=\\> 'true', 'data\\-date\\-format' \\=\\> string, \\?'data\\-enable\\-time' \\=\\> 'true', \\?'data\\-alt\\-format' \\=\\> mixed, \\?'data\\-alt\\-input' \\=\\> 'true', \\?'data\\-no\\-calendar' \\=\\> 'true'\\) results in an error\\.$#"
			count: 1
			path: src/View/Widget/DateTimeWidget.php

		-
			message: "#^Offset 'name' does not exist on array\\<string\\>\\|string\\.$#"
			count: 1
			path: src/View/Widget/DateTimeWidget.php

		-
			message: "#^Offset 'templateVars' does not exist on array\\<string\\>\\|string\\.$#"
			count: 2
			path: src/View/Widget/DateTimeWidget.php

		-
			message: "#^Parameter \\#1 \\$options of method Cake\\\\View\\\\StringTemplate\\:\\:formatAttributes\\(\\) expects array\\|null, array\\<string\\>\\|string given\\.$#"
			count: 1
			path: src/View/Widget/DateTimeWidget.php

