includes:
	- phpstan-baseline.neon

parameters:
	level: 7
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	paths:
		- src
	universalObjectCratesClasses:
		- Crud\Event\Subject
	bootstrapFiles:
		- vendor/cakephp/cakephp/src/Database/Exception/DatabaseException.php
