/******************************************************************************
 * Generic form hacks
 *****************************************************************************/
.bulk-action {
    width: 32px;
}
.bulk-action .checkbox {
    margin-bottom: 0;
}
.bulk-action-submit {
    width: 50%;
}
.bulk-action-submit label {
    width: auto;
}
.bulk-action-submit select {
    display: inline-block;
    width: 50%;
}

td form {
	display: inline;
}

.timepicker-picker, .datepicker {
	color: white;
}

div.submit {
	display: inline
}

div.input {
	margin-bottom: 10px
}

.btn {
	margin-left: 5px
}
h2 .actions {
    margin-left: 15px;
}
