/******************************************************************************
 * Generic form hacks
 *****************************************************************************/

td form {
	display: inline;
}

.timepicker-picker, .datepicker {
	color: white;
}

div.submit {
	display: inline
}

div.input {
	margin-bottom: 10px
}

.btn { 
	margin-right: 5px 
}

/******************************************************************************
 * Checkbox / radio hacks
 *****************************************************************************/

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
	float: none; 
	margin-left: 0px;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0px;
}

.radio label, .checkbox label {
	display: inline;
	font-weight: 700;
	cursor: pointer;
}