/******************************************************************************
 * Generic form hacks
 *****************************************************************************/
.bulk-action {
    width: 32px;
}
.bulk-action .checkbox {
    margin-bottom: 0;
}
.bulk-action-submit {
    width: 50%;
}
.bulk-action-submit label {
    width: auto;
}
.bulk-action-submit select {
    display: inline-block;
    width: 50%;
}
.bulk-action-submit input {
    width: auto;
}

td form {
	display: inline;
}

div.submit {
	display: inline
}

div.input {
	margin-bottom: 10px
}

.btn {
	margin-left: 5px
}
h2 .actions {
    margin-left: 15px;
}

.search-filters .form-inline .form-group {
    padding-left:10px;
}

.search-filters .form-inline .form-group label {
    padding-right:10px;
}

.search-filters .form-inline .form-control {
    min-width:90px !important;
}

.search-filters .form-inline .form-control input, .search-filters .form-inline .form-control select {
    min-width:90px !important;
}

.selectize-input.items.full {
    padding-right:33px;
}
